*{
    margin:0;
    padding :0;
}


/* nav bar section start */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0px auto;
    height: 100px;
     
}
.logo{
    font-weight: bold;
    font-size:40px;
    color:#006A50;

}
.signup-btn{
   
    width: 116px;
    height: 52px;
   
    border-radius:8px;
    color:#006A50;
    font-weight:bolder;
    font-size: 18px;
    border :1px solid #006A50;
    background-color: #F5F5F5;
   

}
/* nav bar section end */

/* hero section start */

.parent-of-hero{
    display :flex;
    justify-content:space-between;
    align-items:center;
   
    border-radius:24px;
    max-width: 1280px;
    height: 560px;
    margin: 0px auto;
    background:#C6E4D6;
    
}
.left-hero{
    max-width: 48%;
    padding-left: 80px;
}

.idea{
    font-size: 56px;
    font-weight: bold;
}
.b2{
    font-size: 24px;
    font-weight: medium;
    color: #0e0e0e80;
}
.explore-btn{
    background-color:#006A50;
    border-radius:8px;
    weight:270px;
    height:56px;
    margin-top:20px;
    font-weight:semibold;
    font-size: 18px;
    color:white;
    outline:none;
    padding: 17px 34px;
    border: 1px solid;
}

.image{
    weight: 48%;
    align-items:center;
    padding-right: 80px;
    
}







/* hero section end */





/* footer start */
.footer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons{
    margin-top: 10px;
}